body {
	font-family: Arial, sans-serif;
	font-size: 14px;
	background-color: white;
}
hr {
	border-color: black;
}

#top-bar, form {
	border-radius: 2px;
	background-color: grey;
	padding: 1px;	
	color: black;
	font-weight: bold;
	display: inline-block;
}

.container {
	width: 100%;
	max-width: 1000px;
	max-height: 800px;
	height: 100%;
	margin: auto;
	overflow: hidden;

}

.block {
	background-color: black;
	width: 63px;
	height: 63px;
	margin: auto;
	float: left;
}


