body {
	font-family: Arial, sans-serif;
	font-size: 14px;
	background-color: white;
	text-align: center;
}
hr {
	border-color: black;
}

#top-bar, form {
	border-radius: 2px;
	background-color: grey;
	padding: 1px;	
	color: black;
	font-weight: bold;
	display: inline-block;
	margin: auto;

}

.container {
	width: 100%;
	max-width: 800px;
	max-height: 800px;
	height: 100%;
	margin: auto;
	overflow: hidden;
	border: 10px solid orange;
	text-align: center;
	font-size: 0;


}

.block {
	background-color: white;
	width: 50px;
	height: 50px;
	display: inline-block;
	left: auto;
	right: auto;
}

